
.btn-cotiza {
    display: flex;
    width: 336px;
    padding: 18px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 40px;
    background: #03050F;
    color: #FFF;
}

.lsection1 {
    margin-top: 10%;
    margin-bottom: 40%;
}
.lsection2{
    margin-bottom: 10%;
}
.lsection2__span{
    text-decoration: underline;
    font-weight: bold;
}



/* Estilos para el formulario */
.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-size: 18px;
    font-weight: bold;
}


.form-control {
    font-size: 16px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.select-control {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #495057;
}

.select-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.invalid-feedback {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #dc3545;
}
